body{
    background-color: rgb(10, 10, 10);
    color: rgb(32, 209, 32);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(100,100,100,.25);
    height: 300px;
    width: 500px;
    position: relative;
    left: 30%;
    bottom: 25%;

    
    border-radius: 10px;
    
}
.your-password{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    width: 250px;
    background-color: rgb(245, 245, 245);
    border-radius: 24px;
    transition: all .1s ease-out;
    
}
.your-password:hover{
     border: 2px solid rgb(9, 197, 9);
}
button{
    border: none;
    border-radius: 24px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.button{
    background-color: white;
    border-radius: 24px;
    padding: 3px;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.button{
    background-image: conic-gradient(from var(--angle),transparent,rgb(121, 118, 118));
    nimation: animate 3s infinite;
}
@keyframes animate{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
.button button:hover{
       animation: animate 3s ;
       cursor: pointer;
       background-color: rgb(111, 109, 109);
       color: white;
}
h3{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}